body {
    background-color: #002010;
}

.topnav, .searchresults th {
    border-color: white;
    background-color: black;
}

.text, .topnav a, .searchresults td, .searchresults {
    color: white;
}

.searchresults td, input[type="text"], input[type="password"], input[type="textarea"] {
    background-color: #006030;
}

.topnav a:hover {
    color: black;
    background-color: white;
}
