body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    overflow-x: scroll;
}

.topnav {
    border-bottom: 1px solid;
    width: 100%;
    position: fixed;
    white-space: nowrap;
    font-size: 16px;
    padding: 0px;
}

.topnav a {
    text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
}

.topnav input[type="text"], .topnav input[type="password"], .topnav input[type="submit"], .topnav select {
    padding: 0px;
}

.topnav input[type="text"], .topnav input[type="password"] {
    height: 20px;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.topnav table {
    width: 100%;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.searchresults {
    margin: auto;
}

.searchresults th, .searchresults td, .searchresults tr, .searchresults {
    border: 1px solid;
}

.description {
    max-width: 300px;
}

.searchresults .text {
    padding: 5px;
}

.preview {
    max-width: 100px;
    max-height: 100px;
}

.full_view {
    max-width: 600px;
    max-height: 600px;
}

.preview, .full_view {
    margin: auto;
    display: block;
    padding: 3px;
}

#comment_submit, #comment_textarea {
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 3px;
    margin-bottom: 3px;
}

#comment_textarea {
    height: 100px;
}