body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    overflow-x: scroll;
}

.topnav {
    border-bottom: 1px solid;
    width: 100%;
    position: fixed;
    white-space: nowrap;
    font-size: 16px;
    padding: 0px;
}

.topnav input[type="text"], .topnav input[type="password"], .topnav input[type="submit"] {
    padding: 0px;
}

.topnav input[type="text"], .topnav input[type="password"] {
    height: 20px;
}

.content {
    padding-top: 30px;
}

.topnav table {
    width: 100%;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}